*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#033747,#012733);
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
.fa{
    color:darkblue;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: ghostwhite;
    text-decoration: none;

}
nav li a:hover{
    color:aquamarine;
    transition: all 0.4s ease 0s;
}
.content-items img{
    width:100%;
    height:100vh;
    background-size: cover;
    background-position: centers;
}
.login-form{
    width:350px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: red;
}
.login-form h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;

}
.login-form p{
    font-size: 20px;
    margin: 10px 0;

}
.login-form input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}
.login-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    border: 0;
    
}